Hardware/Ampelope-backups/*
Hardware/Ampelope_Components-backups/*
Hardware/Ampelope_Controls-backups/*
Ampelope/Debug/*
*.sch-bak
Ampelope/regs.docx

~$merged.xlsx
Hardware/_autosave-Ampelope.kicad_sch
