Hardware/Ampelope-backups/*
Hardware/Ampelope_Components-backups/*
Hardware/Ampelope_Panel-backups/*
Hardware/Ampelope_Controls-backups/*
Hardware/Ampelope_3d_model-backups/*
Ampelope/Debug/*
*.sch-bak
Ampelope/regs.docx

~$merged.xlsx
Hardware/_autosave-Ampelope.kicad_sch
~$Measured response of AS3364 VCA control curve.xlsx
